body
{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight:bold;
}

h1{
	text-align:center;
}

a{
	text-decoration:none;
}

button{
  padding: 10px;
  width:200px;
  background-color:#FFF;
  border: solid #000000 2px;
  font-size:30px;
  font-weight:bold;
}	

div{
	width:50%;
	margin: 0 auto;
	text-align:center;
}

.level{
	float:right;
	width:120px;
	margin-right:200px;
}

.center{
	text-align:center;
}

#level3{
	width:700px;
	height:600px;
	background-image:url(../images/hserfer.jpg);
	background-repeat:no-repeat;
}

#passBox3{
	margin: 275px 0px 0px 500px;
	width: 250px;
}

#level4{
	color:#0047ab;
}

#level4button{
	margin-top:400px;
}

#level5button{
	margin-top:200px;
}

#passBox5{
	margin-top:200px;
	font-size: 225%;
}